In [2]:
import numpy as np # linear algebra
import pandas as pd # import in pandas

import os

In [4]:
# pandas 数据结构
## Series是一维标记数组。它可以容纳任何类型的数据。
mySeries = pd.Series([3,-5,7,4], index=['a','b','c','d'])
type(mySeries)
print(mySeries)

a    3
b   -5
c    7
d    4
dtype: int64

In [6]:
## Dataframe是一个二维数据结构，它包含列。
data = {'Country' : ['Belgium', 'India', 'Brazil' ],
        'Capital': ['Brussels', 'New Delhi', 'Brassilia'],
        'Population': [1234,1234,1234]}
datas = pd.DataFrame(data, columns=['Country','Capital','Population'])
print(type(data))
print(type(datas))
print(data)
print(datas)

<class 'dict'>
<class 'pandas.core.frame.DataFrame'>
{'Country': ['Belgium', 'India', 'Brazil'], 'Capital': ['Brussels', 'New Delhi', 'Brassilia'], 'Population': [1234, 1234, 1234]}
   Country    Capital  Population
0  Belgium   Brussels        1234
1    India  New Delhi        1234
2   Brazil  Brassilia        1234

In [10]:
### dataframe与array的转换
df=datas.values
print(df)
print(type(df))
df = pd.DataFrame(df)
print(df)

[['Belgium' 'Brussels' 1234]
 ['India' 'New Delhi' 1234]
 ['Brazil' 'Brassilia' 1234]]
<class 'numpy.ndarray'>
         0          1     2
0  Belgium   Brussels  1234
1    India  New Delhi  1234
2   Brazil  Brassilia  1234

In [11]:
# 调用，读取数据
## 读取csv
df = pd.read_csv('data.csv')
type(df)
## excel
pd.read_excel('filename')
pd.to_excel('dir/dataFrame.xlsx', sheet_name='Sheet1')

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

In [12]:
# 数据存储
# -> Writes to a CSV file
df.to_csv(filename) 

# -> Writes to a CSV file
df.to_excel(filename) 

# -> Writes to a SQL table
df.to_sql(table_name, connection_object) 

# -> Writes to a file in JSON format
df.to_json(filename) 

# -> Saves as an HTML table
df.to_html(filename) 

# -> Writes to the clipboard
df.to_clipboard()

NameError: name 'filename' is not defined

In [17]:
import pandas as pd
df = pd.read_csv("./titanic/train.csv")

In [18]:
# 统计数据函数

## info函数提供有关数据信息：

###RangeIndex:指定有多少数据。
###Data Columns:指定找到多少列。
###Columns:提供关于Columns的信息。
###dtypes:它说你有什么类型的数据，你有多少这些数据。
###Memory Usage:表示内存使用量。
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [21]:
## 显示行列数
df.shape
## df.shape()是报错的，很容易发现df.shape实际上是个tuple，tuple不是callable的，所以不能df.shape()

(891, 12)

In [23]:
## 这段代码显示找到的索引总数。
df.index

RangeIndex(start=0, stop=891, step=1)

In [24]:
## 这段代码显示所有列
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [26]:
## 这段代码给出每一列中有多少数据
df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [29]:
df.sum()

PassengerId                                               397386
Survived                                                     342
Pclass                                                      2057
Name           Braund, Mr. Owen HarrisCumings, Mrs. John Brad...
Sex            malefemalefemalefemalemalemalemalemalefemalefe...
Age                                                     21205.17
SibSp                                                        466
Parch                                                        340
Ticket         A/5 21171PC 17599STON/O2. 31012821138033734503...
Fare                                                  28693.9493
dtype: object

In [30]:
df.min()

PassengerId                      1
Survived                         0
Pclass                           1
Name           Abbing, Mr. Anthony
Sex                         female
Age                           0.42
SibSp                            0
Parch                            0
Ticket                      110152
Fare                           0.0
dtype: object

In [31]:
df.max()

PassengerId                            891
Survived                                 1
Pclass                                   3
Name           van Melkebeke, Mr. Philemon
Sex                                   male
Age                                   80.0
SibSp                                    8
Parch                                    6
Ticket                           WE/P 5735
Fare                              512.3292
dtype: object

In [32]:
## 函数提供了有关数据的基本统计信息（基于列计算）：count、mean、std、min、25%、50%、75%、max。
### count：数量统计，此列共有多少有效值
### unipue：不同的值有多少个
### std：标准差
### min：最小值
### 25%：四分之一分位数
### 50%：二分之一分位数
### 75%：四分之三分位数
### max：最大值
### mean：均值
#### 以上也能单独拿出来使用
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [38]:
## 该函数计算dataframe长度
len(df)

891

In [42]:
## 该函数返回数据框是否包含null值
df.isnull().head()  ### 不加head是所有的
## print(type(df.isnull()))  ### <class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>

In [43]:
## 该函数返回列之间的相关系数,自动筛选掉了非数值的特征
df.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [ ]:
# pandas中数据的选择和过滤